@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,800,700italic,800italic&subset=latin,latin-ext);

html {
}

body {
	font-family: 'Open Sans', 'Droid Sans', sans-serif;
	font-size: 13px;
	margin: 0px;
	background-color: #fff;
}

a {
color: #000000;    
text-decoration: none;
}

a:hover {
color: #ff0000;    
}

a:visited, a:active {
color: #000000;        
}

#container {
	
}

#top-bar {
	background-color: #337ab7;
	width: 100%;
	height: 30px;
	position: fixed;
	z-index: 9999;
	margin: 0px;
}

.header-container {
	width: 980px;
	margin: 0px auto;
}

#top-bar .menu {
	float: left;
	
}

#top-bar .user-panel {
	float: right;
}

#header {
	padding-top: 35px;
	padding-bottom: 10px;
	
}

#header #logo {
	
}

#content {
	width: 980px;
	margin: 0px auto;
}

.footer {
	background-color: #336699;
	color: #fff;
	padding: 5px;
}

.footer a {
	color: #fafafa;
}

#message {
	color: #ff0000;    
}

/**
* Forum CSS
*/
.titlebg, tr.titlebg th, tr.titlebg td, .titlebg2, tr.titlebg2 th, tr.titlebg2 td
{
	color: black;
	font-style: normal;
	background: #F5F5F5;
	border-bottom: solid 1px #9BAEBF;
	border-top: solid 1px #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
	height: 35px;
}
.titlebg, .titlebg a:link, .titlebg a:visited
{
	font-weight: bold;
	color: black;
	font-style: normal;
}

.titlebg a:hover
{
	color: #404040;
}
/* same as titlebg, but used where bold text is not needed */
.titlebg2 a:link, .titlebg2 a:visited
{
	color: black;
	font-style: normal;
	text-decoration: underline;
}

.titlebg2 a:hover
{
	text-decoration: underline;
}

/* This is used for categories, page indexes, and several other areas in the forum.
.catbg and .catbg2 is for boardindex, while .catbg3 is for messageindex and display headers*/
.catbg , tr.catbg td , .catbg3 , tr.catbg3 td
{
	background: #88A6C0;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}
.catbg2 , tr.catbg2 td
{
	background: #A1BFD9;
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
}
.catbg, .catbg2, .catbg3
{
	border-bottom: solid 1px #375576;
}
.catbg, .catbg2
{
	font-weight: bold;
}
.catbg3, tr.catbg3 td, .catbg3 a:link, .catbg3 a:visited
{
	font-size: 95%;
	color: white;
	text-decoration: none;
}
.catbg a:link, .catbg a:visited , .catbg2 a:link, .catbg2 a:visited
{
	color: white;
	text-decoration: none;
}
.catbg a:hover, .catbg2 a:hover, .catbg3 a:hover
{
	color: #e0e0ff;
}
/* This is used for tables that have a grid/border background color (such as the topic listing.) */
.bordercolor
{
	background-color: #ADADAD;
	padding: 0px;
}

/* This is used on tables that should just have a border around them. */
.tborder
{
	padding: 1px;
	border: 1px solid #696969;
	background-color: #FFFFFF;
}

/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext
{
	font-size: x-small;
	font-family: verdana, sans-serif;
}
/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg, .windowbg0
{
	color: #000000;
	background-color: #ECEDF3;
	padding: 5px;
}
.windowbg2, .windowbg1
{
	color: #000000;
	background-color: #F6F6F6;
	padding: 5px;
}
.windowbg3
{
	color: #000000;
	background-color: #E0E1E8;
	padding: 5px;
}

.middletext {
	padding: 5px;
}

.msg-profil {
	padding: 10px;
}

.msg-info {
	border-bottom: 1px solid #cacaca;
}
.msg-body {
	padding: 10px;    
}


a#scroll-top{ 
display:none;    
position:fixed;    
right:20px;    
bottom:20px; 
height:42px; 
width:42px; 
line-height:42px;    
background:#377f8f url(../images/scrolltop.png) center center no-repeat;    
opacity:0.8;    
-moz-opacity:0.8;    
-webkit-opacity:0.8;    
border-radius:4px;    
-moz-border-radius:4px;    
-webkit-border-radius:4px;    
-webkit-transition:all 0.25s ease-in-out; 
-moz-transition:all 0.25s ease-in-out; 
-o-transition:all 0.25s ease-in-out; 
}
 
a#scroll-top:hover{ 
background-color:#f56734; 
}

/**
* Image Crop
*/
.jcrop-holder {
  direction: ltr;
  text-align: left;
}
/* Selection Border */
.jcrop-vline,
.jcrop-hline {
  background: #ffffff url("./images/Jcrop.gif");
  font-size: 0;
  position: absolute;
}
.jcrop-vline {
  height: 100%;
  width: 1px !important;
}
.jcrop-vline.right {
  right: 0;
}
.jcrop-hline {
  height: 1px !important;
  width: 100%;
}
.jcrop-hline.bottom {
  bottom: 0;
}
/* Invisible click targets */
.jcrop-tracker {
  height: 100%;
  width: 100%;
  /* "turn off" link highlight */
  -webkit-tap-highlight-color: transparent;
  /* disable callout, image save panel */
  -webkit-touch-callout: none;
  /* disable cut copy paste */
  -webkit-user-select: none;
}
/* Selection Handles */
.jcrop-handle {
  background-color: #333333;
  border: 1px #eeeeee solid;
  width: 7px;
  height: 7px;
  font-size: 1px;
}
.jcrop-handle.ord-n {
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.jcrop-handle.ord-s {
  bottom: 0;
  left: 50%;
  margin-bottom: -4px;
  margin-left: -4px;
}
.jcrop-handle.ord-e {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 50%;
}
.jcrop-handle.ord-w {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 50%;
}
.jcrop-handle.ord-nw {
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  top: 0;
}
.jcrop-handle.ord-ne {
  margin-right: -4px;
  margin-top: -4px;
  right: 0;
  top: 0;
}
.jcrop-handle.ord-se {
  bottom: 0;
  margin-bottom: -4px;
  margin-right: -4px;
  right: 0;
}
.jcrop-handle.ord-sw {
  bottom: 0;
  left: 0;
  margin-bottom: -4px;
  margin-left: -4px;
}
/* Dragbars */
.jcrop-dragbar.ord-n,
.jcrop-dragbar.ord-s {
  height: 7px;
  width: 100%;
}
.jcrop-dragbar.ord-e,
.jcrop-dragbar.ord-w {
  height: 100%;
  width: 7px;
}
.jcrop-dragbar.ord-n {
  margin-top: -4px;
}
.jcrop-dragbar.ord-s {
  bottom: 0;
  margin-bottom: -4px;
}
.jcrop-dragbar.ord-e {
  margin-right: -4px;
  right: 0;
}
.jcrop-dragbar.ord-w {
  margin-left: -4px;
}
/* The "jcrop-light" class/extension */
.jcrop-light .jcrop-vline,
.jcrop-light .jcrop-hline {
  background: #ffffff;
  filter: alpha(opacity=70) !important;
  opacity: .70!important;
}
.jcrop-light .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #000000;
  border-color: #ffffff;
  border-radius: 3px;
}
/* The "jcrop-dark" class/extension */
.jcrop-dark .jcrop-vline,
.jcrop-dark .jcrop-hline {
  background: #000000;
  filter: alpha(opacity=70) !important;
  opacity: 0.7 !important;
}
.jcrop-dark .jcrop-handle {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #ffffff;
  border-color: #000000;
  border-radius: 3px;
}
/* Simple macro to turn off the antlines */
.solid-line .jcrop-vline,
.solid-line .jcrop-hline {
  background: #ffffff;
}
/* Fix for twitter bootstrap et al. */
.jcrop-holder img,
img.jcrop-preview {
  max-width: none;
}



/*Jquery ile fieldset aşama yapmak*/
#steps { 
	list-style:none; 
	width:100%; 
	overflow:hidden; 
	margin:0px; 
	padding:0px;
	background-color: #dadada;
}
#steps li {
	font-size:24px; 
	float:left; 
	padding:10px; 
	color:#b0b1b3;
}
#steps li span {font-size:11px; display:block;}
#steps li.current { 
	background-color: #fafafa;
	color:#000;
}

/*Albüm resim ekleme*/
#drop{
	background-color: #fafafa;
	padding: 40px 50px;
	margin-bottom: 30px;
	border: dotted 2px;
	border-radius: 5px;
	text-align: center;
	text-transform: uppercase;
	font-size:14px;
	font-weight:bold;
	color:#7f858a;
}

#drop input{
	display:none;
}

#upload ul{
	margin: 0px;
	list-style:none;
	width: 100%;
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
}

#upload ul li{
	margin: 0px;
	width: 100%;
	height: 50px;
	position: relative;
}

#upload ul li input{
	display: none;
	left: 5px;
	top: 20px;
}

#upload ul li p{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	color: #000;
	font-size: 10px;
	font-weight: bold;
	position: absolute;
	top: 15px;
	left: 45px;
}

#upload ul li i{
	font-weight: normal;
	font-style:normal;
	color:#336699;
	display:block;
}

#upload ul li canvas{
	top: 10px;
	left: 5px;
	position: absolute;
}

#upload ul li span{
	height: 30px;
	position: absolute;
	top: 15px;
	right: 40px;
	cursor:pointer;
}

#upload ul li.working span{
	height: 16px;
}

#upload ul li.error p{
	color:red;
}

.album-thumb {
	margin-bottom: 30px;
}
